src/build
src/node_modules
node_modules
npm/*/*
!npm/*/package.json
!npm/*/export
test/bench/node_modules
test/fixtures/output*
test/fixtures/vips-properties.xml
test/leak/libvips.supp
.DS_Store
.vscode/
package-lock.json
.idea
.firebase
.astro
docs/dist
release-notes.md
dist