build
node_modules
/coverage
test/bench/node_modules
test/fixtures/output*
test/leak/libvips.supp
test/saliency/report.json
test/saliency/Image*
test/saliency/[Uu]serData*
!test/saliency/userData.js
vendor
.gitattributes
.DS_Store
.nyc_output
.vscode/
package-lock.json
.idea
