language: node_js
node_js:
  - "0.10"
  - "0.12"
  - iojs
before_install:
  - curl -s https://raw.githubusercontent.com/lovell/sharp/master/preinstall.sh | sudo bash -
after_success:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
